.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  height: 5rem;
  background-color: #208b3a;
  align-items: center;
  box-shadow: 0 2px 5px #000;
  position: sticky;
}

.menu ul > h2 {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-bottom: 1px solid #fff;
}

li {
  list-style: none;
  padding: 1.5rem 3.5rem;
}

.image-1 {
  background: url("https://images.pexels.com/photos/1054713/pexels-photo-1054713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 850px;

  opacity: 0.3;
}

.section-1 p {
  color: #fff;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  width: 800px;
}

.section-1 h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  text-align: center;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap: 3rem;

}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1rem;
}

.card h2,
.card p{
  text-align: center;

}

.card img {
  width: 300px;
  max-width: 400px;
}

.auth-button{
  display:flex;
  align-items:center;
  position:absolute;
  top:115%;
  left:50%;
  transform:translate(-50%, -100%);
  padding:10px 20px;
  background:#111;
  border:3px solid #fff;
  color:#fff;
  border-radius:20px;
  font-size:1.2em;
}

.auth-button__icon{
  width:30px;
  height:30px;
  margin-left:15px;
}